<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
  <ion-button expand="full" (click)="onPushScreenView()">Test Screen View</ion-button>
  <ion-button expand="full" (click)="onPushData()">Test Data</ion-button>
  <ion-button expand="full" (click)="onDispatchEvents()">Dispatch Events</ion-button>
</ion-content>
